<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
           
            <form class="card form-conatiner" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
               <h1>Welcome</h1>
               <img class="img img-responsive img-circle" src="../assets/img/img-01.png">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control"  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password </label>
                  <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remeber me</label>
                 
                </div>
               
                <div class=" form-group" >
                    <!-- <button class="btn btn-lg btn-danger btn-block text-uppercase" >Sign Up</button> -->
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        
                  </div>
                <div class=" form-group" >
                    <a class="nav-link" [routerLink]="['/login']"><p style="text-align:center">Forgot password ? </p></a>
                    <a [routerLink]="['/registration']"><p style="text-align:center">Don't have an account ? Create</p></a>
                   
                 </div>
              </form>
              
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
