.bg
{
 background: url('src/assets/img/7.webp') no-repeat;
 width: 100%;
 height: 100vh;
}

.form-conatiner{
    border: 2px solid white;
    padding: 50px 60px;
    margin-top: 20vh;
}

img
{
 width: 150px;
 margin: auto;
}

h1
{
    color: primary;
    text-align: center;
    font-weight: bolder;
    margin-top: -20px;

}
