/* You can add global styles to this file, and also import other style files */
div.card-header {
    font-size: large;
   }
   
   div.card {
     margin-top: 10px,
   }
   
   .table {
     margin-top: 10px
   }
   .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px;
    margin-top: 70px; /* Added */
   }