<div class="container-fluid">
<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
      <li><a class='nav-link'  routerLinkActive='active' [routerLink]="['/EmployeeList']">Employee Records</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/login']">Logout</a></li>
    </ul>
</nav>

<div class='card'  style="width: 80rem;">
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-4'>
          <label>Filter by:</label> &nbsp;
          <input type="text" [(ngModel)]="searchValue">
        </div>
    </div>

     <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Position</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container *ngIf="employee"> -->
            <tr *ngFor="let emp of lstcomments | filter : searchValue ">

                <td> {{emp.id}} </td>
                <td> {{emp.name}} </td>
                <td> {{emp.email }} </td>
                <td> {{emp.phone}} </td>
                <td> {{emp.position}} </td>
                <td> <a class="btn btn-info" href="#" role="button" (click)="showForEdit(emp.id)">Edit</a> </td>
                <td> <a class="btn btn-danger" href="#" role="button" (click)="onDelete(emp.id)">Delete</a> </td>
            </tr>
            <!-- <tr *ngIf="!employee || employee.length === 0">
                <td> No employees found </td>
            </tr> -->
        <!-- </ng-container> -->
      </tbody>
    </table>
    </div>
  </div>
</div>
</div>